@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter] public string href { get; set; } = "";
}

<div class="flex gap-4 rounded-2xl items-center TransitionMe">
    <NavLink class="p-2" href="@href">@ChildContent</NavLink>
</div>
