section class="w-full py-12">
	<h1 class="gradient-text text-[2rem] md:text-[3rem] lg:text-[4rem] font-bold text-center">
		From TV fanatics, for TV fanatics
	</h1>

	<style>
		.gradient-text {
			background: linear-gradient(to right, #f29333, #8816FCFF); /* gradient colors */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	</style>
	<p class="w-4/5 text-xl md:text-2xl text-center text-gray-800 font-semibold mx-auto">
		Spreeview lets you browse, review and comment on the series you love 

	</p>
</section>

@code {

}
