<section class="w-full py-12">
	<h1 class="text-purple-600 text-[4rem] text-semibold text-center">
		From TV fanatics, for TV fanatics
	</h1>
	<p class="w-4/5 text-2xl text-center mx-auto">
		Spreeview allows users to browse, review and comment on all their favourite series and episodes.
	</p>
</section>

@code {

}
